<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>$(PRODUCT_NAME) require TouchID or FaceID permission to keep your data safe</string>
	<key>UIAppFonts</key>
	<array>
		<string>Karla-Regular.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
	</array>
</dict>
</plist>
